<form method="post" action="{{ path('app.card.delete', {'id': card.id}) }}" class="form-button">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ card.id) }}">
    <button class="action-item" data-confirm="Cliquer pour supprimer">
        <span class="icon"><i data-feather="trash-2"></i></span>
        <span class="text" data-confirm-replace>Supprimer</span>
    </button>
</form>