{% extends 'base.html.twig' %}

{% block title %}Modifier une carte{% endblock %}

{% block body %}
    <h1 class="h4"><a href="{{ path('app.card.show', {id: card.id}) }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Modifier la carte de {{ card.employee }}</h1>

    {{ include('card/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
