// Label
// ==================
label, legend {
  font-weight: 500;

  font-size: 0.85em;
}

input:disabled {
  background: var(--button-active-background);
}

// Honeypot
// =============
.form-optional {
  display: none!important;
}

.form-group{
  display: flex;
  flex-direction: column;
}


// Champs texte
// ==================
.form-group input,
.form-group textarea,
.form-group select,
%input {
  background: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 0 0 #d4d4d4;
  color: #262626;
  //cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 5px 10px;
  //white-space: nowrap;
  width: 100%;

  &:active, &:focus{
    background-color: var(--background);
    box-shadow: none;
    transform: translateY(1px);
  }


  /*
  border: 2px solid var(--border);
  background: var(--background);
  border-radius: 7px;
  color: var(--color);
  padding: space(1.5) space(1);
  display: block;
  width: 100%;
  outline: none;
  min-height: 48px;*/
}

.form-group textarea{
  line-height: 1.5;
}

.ts-control{
  padding: space(1.5) space(1) !important;
  background: var(--background) !important;
  border: 1px solid var(--border);
  align-items: center;
  min-height: 48px;

  .item {
    font-size: 1rem;
    color: var(--color);
  }
}

.ts-control input {
  width: auto;
  font-size: 1rem !important;
  line-height: normal !important;
}
.form-group textarea {
  min-height: 150px;
}
.form-group label, .form-group legend {
  display: block;
  margin-bottom: space(1);
}
.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 12px 12px;
  background-position: center right 10px;
  background-repeat: no-repeat;
}

.form-group:has(> .form-check) {
  padding-top: space(2.8);
  justify-content: center;
}

.form-group select:not([multiple]) {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23121c4299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
}

// Checkbox
// ==================
.form-checkboxes {
  grid-column: 1 / -1;
}
.form-check {
  cursor: pointer;
  position: relative;
}

.form-check input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check label {
  cursor: pointer;
  margin: 0 !important;
  position: relative;
  padding-left: space(3);
  user-select: none;
}

.form-check label::before {
  content: '';
  background: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 0 0 #d4d4d4;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  //border: 1px solid var(--border);
  background: var(--background);
  //margin: 0;
  margin-right: space(1);
}

.form-check label::after {
  transition: transform 0.2s;
  content: '';
  width: 5px;
  height: 10px;
  transform: scale(0);
  rotate: 30deg;
  border-right: 2px solid #343a40;
  border-bottom: 2px solid #343a40;
  position: absolute;
  left: 6.5px;
  top: 1.5px;
}
.form-check input:checked + label::after {
  transform: scale(1);
}

.form-check input:checked + label::before {
  background-color: #f5f5f5;
}

.form-check input::after {
  content: '';
}

.form-check-label{
  margin-bottom: 0;
}

// Switch
// ==================
.form-switch {
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    min-height: auto;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: unset !important;
  }
}
.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--background);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);

  border-radius: 100px;
  margin-right: space(1);
  transition: background 0.3s;

  &::before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    background: var(--background-light);
    border: 1px solid var(--border);
    box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
    border-radius: 100px;
    transition: transform 0.3s;
  }
}
input:checked + label .switch {
  background-color: var(--contrast);
}
input:checked + label .switch::before {
  transform: translateX(31px);
}

// Attachment
// ==================
.form-attachment {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

// Validation
// ==================
.form-error {
  color: #fb4635;
  font-size: 0.8em;
  margin-top: 0.5em;
  line-height: 1.2;

  * > * {
    margin-top: 0.5em;
  }
}
.form-group input.is-invalid,
.form-group textarea.is-invalid {
  border-color: #fb4635;
}
.invalid-feedback {
  color: #fb4635;
  margin-top: space(1);
  font-size: 0.9em;
}

// Accessibilité
// ==================
.form-group input:focus,
.form-check input:focus + label::before,
select:focus,
textarea:focus,
form button:focus,
input:focus + label .switch,
%input-active {
  //border-color: var(--contrast);
}

// Misc
// ==================
button:not([class]):hover .icon-delete {
  color: var(--red);
}

// Radio
// =============
.form-radio,
.form-checkbox {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border);
  transition: border .3s;

  &::after {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color .3s;
    pointer-events: none;
  }

  & + label {
    cursor: pointer;
  }

  input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

// Checkbox
// =============
.form-checkbox {
  border-radius: 3px;

  &::after {
    border-radius: 2px;
  }
}

.form-button button {
    width: 100%;
}

.form-group .multi-input-container {
  @extend .hstack;
  justify-content: center;

  .mini-input{
    padding: .5rem .5rem 1rem;
    border-radius: 5px;
    margin-inline: 0;
  }

  .mini-input:has(input:focus) {
    background-color: var(--gray-200);
  }

  .mini-input input{
    border: none !important;
    border-radius: 0;
    border-bottom: 1px solid var(--gray-400) !important;
    color: #060f2f;
    font-size: 2rem;
    text-align: center;
    padding-block: .2rem;
    width: 2.3rem;
    font-family: 'JetBrains Mono', monospace;
    background: none;

    &:focus {
      //box-shadow: 0 0 0 3px rgba(#0652DD, 20%);
    }

    &:valid {
      color: var(--primary);
      border-bottom: 2px solid var(--primary) !important;
    }
  }
}
