{% extends 'base.html.twig' %}

{% block title %}Edit Role{% endblock %}

{% block body %}
    <h1 class="h4 md"><a href="{{ path('app.role.show', {id: role.id}) }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Modifier {{ role }}</h1>
    {{ include('role/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
