{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1 class="h4 md"><a href="{{ path('app.role.index') }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Nouvel fonction</h1>
    {{ include('role/_form.html.twig') }}
{% endblock %}
