{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h2 title-header"><a href="{{ path('app.employee.index') }}" class="btn-back"> <i data-feather="chevron-left"></i></a> Nouvelle carte de {{ employee }}</h1>
    {{ include('components/_card_form.html.twig') }}
{% endblock %}

{% block title %}Nouvell carte de {{ employee }}{% endblock %}
