{% extends 'base.html.twig' %}

{% block title %}Nouvel employé{% endblock %}

{% block body %}
    <h1 class="h4"><a href="{{ path('app.employee.index') }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Nouvel employé</h1>
    {{ include('employee/_form.html.twig') }}
{% endblock %}
