{% extends 'base.html.twig' %}

{% block title %}Modifier {{ rank }}{% endblock %}

{% block body %}
    <h1 class="h4 md"><a href="{{ path('app.rank.show', {id: rank.id}) }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Modifier {{ rank }}</h1>
    {{ include('rank/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
