{% extends 'base.html.twig' %}

{% block title %}Nouveau grade ou titre{% endblock %}

{% block body %}
    <h1 class="h4 md"><a href="{{ path('app.rank.index') }}" class="btn-back"> <i data-feather="chevron-left"></i> </a> Nouveau grade ou titre</h1>
    {{ include('rank/_form.html.twig') }}
{% endblock %}
